<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Magno's Indications</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

		<h1 class="my-0 mr-md-auto font-weight-normal h5">Magno's Indications</h1>

		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="https://magnobiet.com/">Website</a>
			<a class="p-2 text-dark" href="https://blog.magnobiet.com/">Blog</a>
		</nav>

		<a class="btn btn-outline-primary" href="mailto:magno.biet@gmail.com">Get in touch</a>

	</div>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

		<h2 class="h1">Indications</h1>
		<p class="lead">My referral links</p>

	</div>

	<div  id="app" class="container">

		<div class="card-columns mb-3 text-center">

			<div class="card bg-light mb-4 shadow-sm" v-for="category in categories" v-if="category.indications.length">

				<div class="card-header">
					<h2 class="my-0 font-weight-normal h4">
						<i class="d-block material-icons" aria-hidden="true">{{ category.icon }}</i>
						{{ category.title }}
					</h2>
				</div>

				<div class="list-group list-group-flush">
					<a class="list-group-item list-group-item-action" target="_blank" v-for="indication in category.indications" :href="indication.link">
						{{ indication.title }}
						<strong v-if="indication.code">({{ indication.code }})</strong>
					</a>
				</div>

			</div>

		</div>

		<footer class="pt-4 my-md-5 pt-md-5 border-top">

			<div class="row">

				<div class="col-12 col-md">
					<small class="d-block mb-3 text-muted">&copy; {{ year }}</small>
				</div>

			</div>
		</footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="assets/scripts/app.js"></script>

</body>
</html>
